* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --CorPrimaria: #E90313;
    --CorSecundaria: #A3020D;
    --FundoSite: #ffffff;
    --CorFonteIcons: #5F6369;
}
.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.header {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
}
.container_subheader {
    background-color: white;
    display: flex;
    height: 20%;
    width: 100%;
    padding-left: 70%;
    gap: 32px; 
}
.suporte {
    display: flex;
    align-items: center;
    gap: 8px;
}
.suporte img {
    width: 28px;
}
.tema {
    display: flex;
    align-items: center;
    gap: 12px;
}
.container_header {
    background-color: yellow;
    display: flex;
}
main {
    background-color: tomato;
    height: 70%;
    width: 100%;
}